* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    text-align: center;
    font-family: Poppins;

}

#heading {
    background-color: rgb(70, 87, 185);
    height: 75px;
    font-size: 43px;
    color: white;
    line-height: 75px;
    /*makes the text in center */
}

.choices {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-top: 50px;



}

.choice {
    height: 155px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.choice:hover {
    cursor: pointer;
    border: 4px solid rgb(70, 87, 185);
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

 .scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 32px;
    margin-top: 50px;
    margin-bottom: 50px;

 }

 #userscore{
    font-size: 48px;
 }
 #compscore{
    font-size: 48px;
 }

 #message{
    background-color: rgb(70, 87, 185);
    color:white ;
    font-size: 30px;
display: inline;
padding: 25px;
border-radius: 40px;
 }
